.header-bar{
	left: 0px;
	top: 0px;
	height: 91px;
	background: #21222A;
}

.nav-logo{
	left: 21.48%;
	right: 21.35%;
	top: 7.75%;
	bottom: 7.65%;
	/* border: 1.23587px solid #00D8FF; */

}

.nav{
	display: flex;
	padding: 30px 25px;
	align-items: center;
	gap: 5px;
}

.reactFacts{
	flex-grow: 1;
	color: #61DAFB;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 22.2535px;
	line-height: 27px;
	letter-spacing: -0.05em;
	text-align: left;
	vertical-align: middle;
}

.courseProject {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	text-align: right;

	color: #DEEBF8;
}